{% extends "base.html" %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">

            <div class="card shadow-sm">
                <div class="card-body p-4">

                    <h1 class="h3 text-center mb-4">
                        Create Exercise
                    </h1>

                    <form method="POST">
                        {{ form.hidden_tag() }}

                        <div class="mb-4">
                            {{ form.name.label(class="form-label") }}

                            {{ form.name(
                            class="form-control" +
                            (" is-invalid" if form.name.errors else "")
                        ) }}

                            {% for error in form.name.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>

                        {{ form.submit(class="btn btn-primary w-100") }}

                    </form>

                </div>
            </div>

        </div>
    </div>

{% endblock %}