{% extends "base.html" %}

{% block title %}
    My Workouts
{% endblock %}

{% block content %}

    <h1>Workouts</h1>

    <a href="{{ url_for('workouts.create_workout') }}">Create Workout</a>

    <hr>

    <ul>
        {% for workout in workouts %}
            <li>
                <a href="{{ url_for('workouts.show_workout', workout_id=workout.id) }}">
                    {{ workout.name }}
                </a>

                <br>

                <a href="{{ url_for('workouts.edit_workout', workout_id=workout.id) }}">Edit</a>

                <a href="{{ url_for('workouts.delete_workout', workout_id=workout.id) }}">Delete</a>

            </li>
        {% endfor %}
    </ul>

{% endblock %}
