<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout</title>
</head>
<body>
{{ workout.name }}
{{ workout.workout_date }}
{{ workout.notes }}

<hr>

<a href="{{ url_for('exercises.create_exercise', workout_id=workout.id) }}">Add Exercise</a>

<hr>

{% for exercise in workout.exercises %}
    {{ exercise.name }}

    <a
            href="{{ url_for('sets.create_set',
                    workout_id=workout.id,
                    exercise_id=exercise.id) }}"
    >+ New Set</a>

    {% for set in exercise.sets %}
        {{ loop.index }}. {{ set.reps }} x {{ set.weight }}
    {% endfor %}

{% endfor %}
</body>
</html>