<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout</title>
</head>
<body>
{{ workout.name }}
{{ workout.workout_date }}
{{ workout.notes }}

<hr>

<a href="{{ url_for('exercises.create_exercise', workout_id=workout.id) }}">Add Exercise</a>

<hr>

{% for exercise in workout.exercises %}
    {{ exercise.name }}<br>

    <a
            href="{{ url_for('sets.create_set',
                    workout_id=workout.id,
                    exercise_id=exercise.id) }}"
    >+ New Set</a> <br>

    {% for set in exercise.sets %}
        {{ loop.index }}. {{ set.reps }} x {{ set.weight }}

        <a
                href="{{ url_for('sets.edit_set',
                        workout_id=workout.id,
                        exercise_id=exercise.id,
                        set_id=set.id) }}"
        >Edit Set</a>
        <br>

    {% endfor %}
<hr>
{% endfor %}
</body>
</html>