<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Workout Tracker{% endblock %}
    </title>
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="flash-{{ category }}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>